<div class="show-container">
  <h1><%= @list.name %></h1>

  <h2>Movies in this list</h2>

  <ul>
    <% @list.bookmarks.each do |bookmark| %>
      <li class="movie-item">
        <strong><%= bookmark.movie.title %></strong> – <%= bookmark.comment %>
        <%= link_to "Delete",
          bookmark_path(bookmark),
          data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
          class: "delete-link" %>
      </li>
    <% end %>
  </ul>

  <%= link_to "Add a movie", new_list_bookmark_path(@list), class: "btn btn-primary" %>
  <%= link_to "Back to lists", lists_path, class: "btn btn-secondary" %>
</div>
